<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-tabMenu [model]="menuItems" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)" />
            <br>
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                      <!-- Conditionally render buttons based on the active tab -->
                      <ng-container *ngIf="activeItem.label == 'Users'; else rolesTab">
                        <button pButton pRipple label="{{ 'new_button' | translate }}" icon="pi pi-plus"
                                class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="{{ 'delete_button' | translate }}" icon="pi pi-trash"
                                class="p-button-danger" (click)="deleteSelected()"
                                [disabled]="!selectedUsers || !selectedUsers.length"></button>
                      </ng-container>
                      <ng-template #rolesTab>
                        <button pButton pRipple label="{{ 'new_button' | translate }}" icon="pi pi-plus"
                                class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="{{ 'delete_button' | translate }}" icon="pi pi-trash"
                                class="p-button-danger" (click)="deleteSelected()"
                                [disabled]="!selectedRoles || !selectedRoles.length"></button>
                      </ng-template>
                    </div>
                  </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF"
                        tooltipPosition="bottom" (click)="exportPdf()"></button>
                    <button pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt *ngIf="activeItem.label == 'Users'" [value]="users" [columns]="usersCols" responsiveLayout="scroll"
                [rows]="20"
                [globalFilterFields]="['username','email','firstName','lastName','enabled','attributes.roles']"
                [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} / {last} ({totalRecords} {{'table_records' | translate}})"
                [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{'users_page_title' | translate}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="{{'search_label' | translate}}" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="username">{{'user_username' | translate}} <p-sortIcon
                                field="username"></p-sortIcon></th>
                        <th pSortableColumn="email">{{'user_email' | translate}} <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="enabled">{{'user_status' | translate}} <p-sortIcon
                                field="enabled"></p-sortIcon></th>
                        <th pSortableColumn="roles">{{'user_role' | translate}} <p-sortIcon
                                field="roles"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>

                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{'user_username' | translate}}</span>
                            {{user.username ? user.username : 'N/A'}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{'user_email' | translate}} </span>
                            {{ user.email ? user.email : 'N/A' }}
                        </td>
                        <!-- <td style="min-width:10rem;">
                            <span class="p-column-title">{{'user_status' | translate}}</span>
                            {{user.enabled}}
                        </td> -->
                        <td style="min-width: 10rem;">
                            <span class="p-column-title">{{'user_status' | translate}}</span>
                            <ng-container *ngIf="user.enabled; else disabled">
                                <i class="pi pi-check-circle" style="color: green;"></i>
                            </ng-container>
                            <ng-template #disabled>
                                <i class="pi pi-check-circle" style="color: red;"></i>
                            </ng-template>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{'user_role' | translate}}</span>
                            <p-chip *ngFor="let role of user.roles" label="{{role | titlecase}}" class="mr-2"></p-chip>
                            <!-- <ul>
                                <li *ngFor="let role of user.roles">{{ role }}</li>
                              </ul> -->
                            <!-- {{ user.roles ? user.roles : 'N/A' }} -->
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteUser(user)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <p-table #dt *ngIf="activeItem.label == 'Roles'" [value]="appRoles" [columns]="rolesCols"
                responsiveLayout="scroll" [rows]="20" [globalFilterFields]="['name','description']" [paginator]="true"
                [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} / {last} ({totalRecords} {{'table_records' | translate}})"
                [(selection)]="selectedRoles" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{'roles_page_title' | translate}}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="{{'search_label' | translate}}" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">{{'role_name' | translate}} <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="description">{{'role_description' | translate}} <p-sortIcon
                                field="description"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="role"></p-tableCheckbox>
                        </td>

                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{'role_name' | translate}}</span>
                            {{role.name}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{'role_description' | translate}} </span>
                            {{ role.description ? role.description : 'N/A' }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editRole(role)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteRole(role)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="userDialog" [style]="{width: '70%', height: '100%'}"
            header="{{'user_details' | translate}}" [modal]="true" class="p-fluid">
            <div>
                <p-toast />
                <p-steps [model]="userCreationSteps" [readonly]="false" [activeIndex]="activeIndex"
                    (activeIndexChange)="onActiveIndexChange($event)" />
                <br>
            </div>
            <ng-template pTemplate="content">
                <ng-container *ngIf="!isUserInfoValid">
                    <div class="field">
                        <label for="firstName">{{'user_first_name' | translate}}</label>
                        <input type="text" pInputText name="firstName" ngDefaultControl [(ngModel)]="user.firstName"
                            required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.firstName}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.firstName">{{'user_first_name' |
                            translate}} {{'is_required_label' | translate}}</small>
                    </div>
                    <div class="field">
                        <label for="lastName">{{'user_last_name' | translate}}</label>
                        <input type="text" pInputText name="lastName" ngDefaultControl [(ngModel)]="user.lastName"
                            required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.lastName}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.lastName">{{'user_last_name' |
                            translate}} {{'is_required_label' | translate}}</small>
                    </div>
                    <div class="field">
                        <label for="username">{{'user_username' | translate}}</label>
                        <input type="text" pInputText name="userName" ngDefaultControl [(ngModel)]="user.username"
                            required autofocus [disabled]="user.id"
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.username}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.username">{{'user_username' |
                            translate}} {{'is_required_label' | translate}}</small>
                    </div>
                    <div class="field">
                        <label for="email">{{'user_email' | translate}}</label>
                        <input type="email" pInputText name="email" ngDefaultControl [(ngModel)]="user.email" required
                            autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !user.email}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !user.email">{{'user_email' | translate}}
                            {{'is_required_label' | translate}}</small>
                    </div>
                    <div class="field" *ngIf="!user.id">
                        <label for="userCredential">Password</label>
                        <input type="password" pInputText name="userCredential.value" ngDefaultControl
                            [(ngModel)]="userCredential.value" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !userCredential.value}" />
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !userCredential.value">Password is
                            required.</small>
                    </div>
                    <!-- <div class="field">
                    <label for="attributes.roles">{{'user_role' | translate}}</label>
                    <p-dropdown [(ngModel)]="userRoles" name="attributes.roles" inputId="attributes.roles"
                        ngDefaultControl optionLabel="name" [options]="appRoles" (onChange)="onRoleChange($event)"
                        placeholder="{{'select_role_option' | translate}}" required autofocus>
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="user && userRoles" [class]="'product-badge'">{{userRoles}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge'">{{option.name}}</span>
                        </ng-template>
                    </p-dropdown>
                </div> -->

                </ng-container>
                <ng-container *ngIf="isUserInfoValid">
                    <div class="card">

                        <div class="card flex justify-content-center" *ngIf="loading">
							<p-progressSpinner ariaLabel="loading" />
						</div>
                      
                      <div *ngIf="!loading">
                        <p-pickList [source]="sourceRoles" [target]="targetRoles" sourceHeader="Role Mapping"
                        (onMoveToTarget)="onMoveToTarget($event)"
                        (onMoveToSource)="onMoveToSource($event)"
                            targetHeader="Selected" [dragdrop]="true" [responsive]="true"
                            [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" filterBy="name"
                            sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
                            breakpoint="1400px">
                            <ng-template let-role pTemplate="item">
                                <div class="flex flex-wrap p-2 align-items-center gap-3">
                                    <div class="flex-1 flex flex-column gap-2">
                                        <span class="font-bold">
                                            {{ role.name }}
                                        </span>
                                        <div class="flex align-products-center gap-2">
                                            <span>
                                                {{ role.description }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-pickList>
                      </div>
                        
                    </div>
                </ng-container>
            </ng-template>


            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{'cancel_button' | translate}}" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple *ngIf="!isUserInfoValid" label="Next {{'save_button' | translate}}"
                    icon="pi pi-check" class="p-button-text" (click)="NextRoleDialog()"></button>
                <button pButton pRipple *ngIf="targetRoles.length" label="{{'save_button' | translate}}"
                    icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>

            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="roleDialog" [style]="{width: '450px', height: '100%'}"
            header="{{'user_details' | translate}}" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">{{'role_name' | translate}}</label>
                    <input type="text" pInputText name="name" ngDefaultControl [(ngModel)]="appRole.name" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !appRole.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appRole.name">{{'role_name' | translate}}
                        {{'is_required_label' | translate}}</small>
                </div>
                <div class="field">
                    <label for="description">{{'role_description' | translate}}</label>
                    <input type="text" pInputText name="description" ngDefaultControl [(ngModel)]="appRole.description"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !appRole.description}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !appRole.description">{{'role_description' |
                        translate}} {{'is_required_label' | translate}}</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{'cancel_button' | translate}}" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="{{'save_button' | translate}}" icon="pi pi-check" class="p-button-text"
                    (click)="saveRole()"></button>
            </ng-template>
        </p-dialog>


        <p-dialog [(visible)]="deleteUserDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">{{'delete_confirmation_msg_with_param' | translate}} <b>{{user.userName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRoleDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="appRole">{{'delete_confirmation_msg_with_param' | translate}}
                    <b>{{appRole.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteRoleDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteUsersDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{'delete_selected_confirmation_msg' | translate}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteUsersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRolesDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{'delete_selected_confirmation_msg' | translate}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteRolesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>