.customer-badge,
.product-badge,
.payment-badge,
.return-badge,
.refund-badge,
.purchase-badge,
.order-badge,
.transfer-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.product-badge {
    &.status-instock {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-outofstock {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-lowstock {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.customer-badge {
    &.status-qualified {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-unqualified {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-negotiation {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.status-new {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-renewal {
        background: #ECCFFF;
        color: #694382;
    }

    &.status-proposal {
        background: #FFD8B2;
        color: #805B36;
    }
}

.order-badge {
    &.order-delivered {
        background: hwb(192 78% 10%);
        color: #256029;
    }

    &.order-canceled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.order-ordered {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.order-processing {
        background: #bce8fb;
        color: #447a8c;
    }

    &.order-completed {
        background: #b9faaf;
        color: #3c774b;
    }

    &.order-returned {
        background: #ECCFFF;
        color: #694382;
    }

    &.order-partial_return {
        background: #ebc3dd;
        color: #82437f;
    }

    &.order-return_pending {
        background: #fff0cc;
        color: #8a6d1e;
    }
}

.purchase-badge {
    &.purchase-canceled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.purchase-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.purchase-approved {
        background: #bce8fb;
        color: #447a8c;
    }

    &.purchase-received {
        background: hwb(192 78% 10%);
        color: #256029;
    }

    &.purchase-completed {
        background: #b9faaf;
        color: #3c774b;
    }
}

.return-badge {
    &.return-canceled {
        background: #FFCDD2;
        color: #C63737;
    }

    &.return-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.return-processing {
        background: #bce8fb;
        color: #447a8c;
    }

    &.return-completed {
        background: #b9faaf;
        color: #3c774b;
    }

    &.return-partially_refunded {
        background: #ebc3dd;
        color: #82437f;
    }
}

.payment-badge {
    &.payment-unpaid {
        background: #efa7af;
        color: #C63737;
    }

    &.payment-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.payment-partially_paid {
        background: #bce8fb;
        color: #447a8c;
    }

    &.payment-paid {
        background: #b9faaf;
        color: #3c774b;
    }

    &.payment-settled {
        background: #b9faaf;
        color: #3c774b;
    }

    &.payment-refunded {
        background: #ECCFFF;
        color: #694382;
    }

    &.payment-partial-refund {
        background: #ECCFFF;
        color: #694382;
    }

    &.payment-failed {
        background: #efa7af;
        color: #C63737;
    }
}

.refund-badge {
    &.refund-unpaid {
        background: #efa7af;
        color: #C63737;
    }

    &.refund-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.refund-partially_paid {
        background: #bce8fb;
        color: #447a8c;
    }

    &.refund-paid {
        background: #b9faaf;
        color: #3c774b;
    }

    &.refund-settled {
        background: #b9faaf;
        color: #3c774b;
    }   

    &.refund-partial-refund {
        background: #ECCFFF;
        color: #694382;
    }

    &.refund-failed {
        background: #efa7af;
        color: #C63737;
    }
}

.transfer-badge {
    &.transfer-pending {
        background: #FEEDAF;
        color: #8A5340;
    }

    &.transfer-in_transit {
        background: #bce8fb;
        color: #447a8c;
    }

    &.transfer-completed {
        background: #b9faaf;
        color: #3c774b;
    }

    &.transfer-cancelled {
        background: #FFCDD2;
        color: #C63737;
    }
}