<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple *ngIf="canAddExpense" label="{{ 'new_button' | translate }}" icon="pi pi-plus"
                            class="p-button-success mr-2" (click)="openNew()" pTooltip="{{'add_new_expense'|translate}}"></button>
                        <button pButton pRipple *ngIf="canDeleteExpense" label="{{ 'delete_button' | translate }}" icon="pi pi-trash"
                            class="p-button-danger" (click)="deleteSelectedExpenses()" pTooltip="{{'delete_expense'|translate}}"
                            [disabled]="!selectedExpenses || !selectedExpenses.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF"
                        tooltipPosition="bottom" (click)="exportPdf()"></button>
                    <button pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <div class="card flex justify-content-center" *ngIf="isLoading">
                <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
              </div>

            <p-table #dt [value]="expenses" *ngIf="!isLoading" [columns]="cols" responsiveLayout="scroll" [rows]="20"
                [globalFilterFields]="['purpose','dateOfExpense','amount','shop.shopName']"
                [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} / {last} ({totalRecords} {{'table_records' | translate}})"
                [(selection)]="selectedExpenses" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">{{ 'expenses_page_title' | translate }}</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                                placeholder="{{ 'search_label' | translate }}" class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">{{ 'ID' | translate }} <p-sortIcon
                                field="id"></p-sortIcon></th>
                        <th pSortableColumn="dateOfExpense">{{ 'expense_date' | translate }} 
                            <p-sortIcon field="dateOfExpense"></p-sortIcon>
                            <p-columnFilter type="date" field="dateOfExpense" display="menu" />
                        </th>
                        <th pSortableColumn="purpose">{{ 'expense_purpose' | translate }} <p-sortIcon
                                field="purpose"></p-sortIcon></th>
                        <th pSortableColumn="amount">{{ 'expense_amount' | translate }}<p-sortIcon
                                field="amount"></p-sortIcon></th>
                        <th pSortableColumn="shop">{{ 'expense_shop' | translate }}<p-sortIcon
                                field="shop"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-expense>
                    <tr [pSelectableRow]="expense" (click)="canEditExpense ? editExpense(expense) : null">
                        <td>
                            <p-tableCheckbox [value]="expense" (click)="$event.stopPropagation()"></p-tableCheckbox>
                        </td>

                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{ 'ID' | translate }}</span>
                            #{{expense.id ? expense.id : 'N/A'}}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{ 'expense_date' | translate }}</span>
                            {{ expense.dateOfExpense ? (expense.dateOfExpense | date: 'dd/MM/yyyy') : 'N/A' }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{ 'expense_purpose' | translate }}</span>
                            {{ expense.purpose ? expense.purpose : 'N/A' }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{ 'expense_amount' | translate }}</span>
                            {{ expense.amount ? expense.amount : 'N/A' }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">{{ 'expense_shop' | translate }}</span>
                            {{ expense.shop ? expense.shop.shopName : 'N/A' }}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple *ngIf="canEditExpense" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" pTooltip="{{'update_expense'|translate}}"
                                    (click)="editExpense(expense) ; $event.stopPropagation()"></button>
                                <button pButton pRipple *ngIf="canDeleteExpense" icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteExpense(expense) ; $event.stopPropagation()" pTooltip="{{'delete_expense'|translate}}"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        {{'total_expenses' | translate}} {{expenses ? expenses.length : 0 }}.
                    </div>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">
                            <div class="flex flex-column align-items-center justify-content-center py-5">
                                <img src="assets/core-images/no_data_found.png" alt="No Data Found"
                                    style="max-width: 250px; opacity: 0.6;">
                                <p class="mt-3 text-gray-600 font-medium text-lg">
                                    {{ 'no_expenses_found' | translate }}
                                </p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="expenseDialog" [style]="{width: '450px', height: '100%'}"
            header="{{ 'expense_details' | translate }}" [modal]="true" class="p-fluid ">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="purpose">{{ 'expense_purpose' | translate }} <span class="required-asterisk">*</span></label>
                    <input type="text" pInputText name="purpose" ngDefaultControl [(ngModel)]="expense.purpose" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !expense.purpose}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !expense.purpose">{{ 'expense_purpose' |
                        translate }} {{'is_required_label' | translate}}</small>
                </div>

                <div class="field">
                    <label for="dateOfExpense">{{ 'expense_date' | translate }} <span class="required-asterisk">*</span></label>
                    <p-calendar [(ngModel)]="expense.dateOfExpense" ngDefaultControl name="dateOfExpense" inputId="dateOfExpense"
                        dateFormat="dd/mm/yy" [showOnFocus]="false" [showIcon]="true"
                        placeholder="{{ 'expense_date' | translate }}" required autofocus 
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !expense.dateOfExpense}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !expense.purpose">{{ 'expense_date' |
                        translate }} {{'is_required_label' | translate}}</small>
                </div>

                <div class="field">
                    <label for="amount">{{ 'expense_amount' | translate }} <span class="required-asterisk">*</span></label>
                    <input type="number" pInputText name="amount" ngDefaultControl [(ngModel)]="expense.amount" required
                        autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !expense.amount}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !expense.amount">{{ 'expense_amount' |
                        translate }} {{'is_required_label' | translate}}</small>
                </div>

                <div class="field" style="position: relative;" *ngIf="isAdmin">
					<label for="shop">{{'expense_shop' | translate}} <span
							class="required-asterisk">*</span></label>
					<p-dropdown appendTo="body" [(ngModel)]="expense.shop" name="shop" inputId="shop"
						ngDefaultControl optionLabel="shopName" [options]="shops" [filter]="true"
						filterBy="shopName"
						placeholder="{{'select_shop_option' | translate}}" required autofocus
						[ngClass]="{'ng-invalid ng-dirty' : submitted && !expense.shop}">
						<ng-template pTemplate="selectedItem">
							<span *ngIf="expense && expense.shop"
								[class]="'product-badge'">{{expense.shop.shopName}}</span>
						</ng-template>
						<ng-template let-option pTemplate="item">
							<span [class]="'product-badge'">{{option.shopName}}</span>
						</ng-template>
					</p-dropdown>
					<small class="ng-dirty ng-invalid" *ngIf="submitted && !expense.shop">{{'expense_shop' |
						translate}} {{'is_required_label' | translate}}</small>
				</div>

                <div class="field">
                    <label for="paymentMethod">
                        {{'payment_method' | translate}} <span class="required-asterisk">*</span>
                    </label>
                    <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="paymentMethod" value="Cash" [(ngModel)]="expense.paymentMethod"
                                ngDefaultControl inputId="paymentMethod1"></p-radioButton>
                            <label for="paymentMethod1" class="ml-2">{{'payment_method_cash' | translate}}</label>
                        </div>
    
                        <div class="flex align-items-center">
                            <p-radioButton name="paymentMethod" value="Transfer" [(ngModel)]="expense.paymentMethod"
                                ngDefaultControl inputId="paymentMethod4"></p-radioButton>
                            <label for="paymentMethod4" class="ml-2">{{'payment_method_transfer' | translate}}</label>
                        </div>
    
                        <div class="flex align-items-center">
                            <p-radioButton name="paymentMethod" value="Card" [(ngModel)]="expense.paymentMethod"
                                ngDefaultControl inputId="paymentMethod2"></p-radioButton>
                            <label for="paymentMethod2" class="ml-2">{{'payment_method_card' | translate}}</label>
                        </div>
    
                        <div class="flex align-items-center">
                            <p-radioButton name="paymentMethod" value="Check" [(ngModel)]="expense.paymentMethod"
                                ngDefaultControl inputId="paymentMethod3"></p-radioButton>
                            <label for="paymentMethod3" class="ml-2">{{'payment_method_check' | translate}}</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="paymentMethod" value="BOE" [(ngModel)]="expense.paymentMethod"
                                ngDefaultControl inputId="paymentMethod5"></p-radioButton>
                            <label for="paymentMethod5" class="ml-2">{{'payment_method_boe' | translate}}</label>
                        </div>
                    </div>
    
                    <!-- Input for cheque number, displayed only if "Check" is selected -->
                    <div *ngIf="expense.paymentMethod === 'Check'" class="mt-3">
                        <label for="checkNumber">{{ 'check_number' | translate }}</label>
                        <input type="text" id="checkNumber" [(ngModel)]="expense.checkNumber"
                            placeholder="{{ 'enter_check_number' | translate }}" class="p-inputtext" />
                    </div>
                    <div *ngIf="expense.paymentMethod === 'Check'" class="mt-3">
                        <label for="checkDateExpiration">{{ 'expiration_date' | translate }}</label>
                        <p-calendar [(ngModel)]="expense.checkExpirationDate" [showIcon]="true" inputId="checkExpirationDate"
                            dateFormat="dd/mm/yy" [showOnFocus]="false"
                            [style]="{flex: 1, minWidth: '250px', height: '40px'}"
                            placeholder="{{ 'expiration_date' | translate }}" />
                    </div>
                    <div *ngIf="expense.paymentMethod === 'BOE'" class="mt-3">
                        <label for="boeNumber">{{ 'boe_number' | translate }}</label>
                        <input type="text" id="boeNumber" [(ngModel)]="expense.boeNumber"
                            placeholder="{{ 'enter_boe_number' | translate }}" class="p-inputtext" />
                    </div>
                    <div *ngIf="expense.paymentMethod === 'BOE'" class="mt-3">
                        <label for="boeExpirationDate">{{ 'expiration_date' | translate }}</label>
                        <p-calendar [(ngModel)]="expense.boeExpirationDate" [showIcon]="true" inputId="boeExpirationDate"
                            dateFormat="dd/mm/yy" [showOnFocus]="false"
                            [style]="{flex: 1, minWidth: '250px', height: '40px'}"
                            placeholder="{{ 'expiration_date' | translate }}" />
                    </div>
                </div>

                <div class="required-note">
                    <small><span class="required-asterisk">*</span> {{'fields_marked_with_asterisk_required' | translate}}</small>
                </div> 
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="{{ 'cancel_button' | translate }}" icon="pi pi-times"
                    class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="{{ 'save_button' | translate }}" icon="pi pi-check" class="p-button-text"
                    (click)="saveExpense()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExpenseDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="expense">{{'delete_confirmation_msg_with_param' | translate}}
                    <b>{{expense.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteExpenseDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExpensesDialog" header="{{'confirm_label' | translate}}" [modal]="true"
            [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>{{'delete_selected_confirmation_msg' | translate}}</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="{{'no_button' | translate}}"
                    (click)="deleteExpensesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{'yes_button' | translate}}"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>