.add-wrapper {
    position:absolute;
    top: 0; /* Position at top */
    right: 0; /* Position at right */
    /* transform: translateX(-50%); Center horizontally */
  }
  
  .add-wrapper a {
    text-decoration: none; /* Remove underline from link */
    cursor: pointer; /* Indicate clickable element */
  }
  